<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="kr">
<head>
  <meta charset="UTF-8">
  <title>메뉴 상세</title>
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>
<script>
  function submitForm(action) {
    document.getElementById('orderForm').action = action;
    document.getElementById('orderForm').submit();
  }
</script>
<style>
  span {
    font-size: 30px;
  }
</style>
<body>
<h1>메뉴 상세</h1>
<span>제품명 : <span th:text="${menu.name}"></span></span><br>
<span>가격 : <span th:text="${menu.price}"></span></span><br>
<span>분류 : <span th:text="${menu.productType}"></span></span><br>
<span>추천 여부 : <span th:text="${menu.kind}"></span></span>

<form id="orderForm" method="post" th:action="@{/order/cart}">
  <input type="hidden" id="itemId" name="itemId" th:value="*{menu.id}">
  <label for="quantity">
    <input type="number" id="quantity" name="quantity" placeholder="수량">
  </label>
  <input type="submit" value="구매하기" onclick="submitForm('/order/cart')">
</form>
<hr>
<div sec:authorize="isAuthenticated()">
  <h1>특별메뉴</h1>
  <form th:action="@{/menu/{menuId}/recommend(menuId=${menu.id})}" th:method="patch">
    <label for="kind">
      <input type="text" id="kind" name="kind">
    </label>
    <input type="submit">
  </form>

  <h1>레시피</h1>
  <table>
    <thead>
    <tr>
      <td>재료명</td>
      <td>양</td>
      <td>측정단위</td>
      <td>양 수정</td>
      <td>삭제</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
      <td th:text="${recipe.ingredient}"></td>
      <td th:text="${recipe.amount}"></td>
      <td th:text="${recipe.measurementUnit}"></td>
      <td>
        <form
            th:action="@{/menu/{menuId}/recipe/{recipeId}/amount(menuId=${menu.id}, recipeId=${recipe.id})}"
            th:method="patch">
          <label for="amount">
            <input type="number" id="amount" name="amount" th:value="${recipe.amount}">
          </label>
          <input type="submit" value="수정">
        </form>
      </td>
      <td>
        <form
            th:action="@{/menu/{menuId}/recipe/{recipeId}(menuId=${menu.id}, recipeId=${recipe.id})}"
            th:method="delete">
          <input type="submit" value="삭제">
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <button id="presentForm">레시피 추가</button>
  <div id="newForm" class="hidden">
    <h2>새 레시피</h2>
    <form th:action="@{/menu/{menuId}/recipe(menuId=${menu.id})}" method="post">
      <div id="items">
        <div class="item">
          <label>
            재료:
            <select name="recipes[0].ingredientId">
              <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}"
                      th:text="${ingredient.name}"></option>
            </select>
          </label>
          <label>
            양:
            <input type="number" name="recipes[0].amount" required>
          </label>
        </div>
      </div>
      <button type="button" id="addItem">항목 추가</button>
      <input type="submit" value="레시피 저장">
    </form>
  </div>

</div>
<a th:href="@{/menu}">메뉴로 돌아가기</a>
<form th:action="@{/menu/{menuId}(menuId=${menu.id})}" th:method="delete">
  <input type="submit" value="메뉴삭제">
</form>
<script th:src="@{/js/form.js}"></script>
</body>
</html>