<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="kr">
<head>
  <meta charset="UTF-8">
  <title>메뉴</title>
</head>
<body>
<h1>메뉴</h1>
<table>
  <thead>
  <tr>
    <th>메뉴명</th>
    <th>가격</th>
    <th>분류</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="menu : ${menus}">
    <td><a th:href="@{/menu/{menuId}(menuId = ${menu.id})}" th:text="${menu.name}"></a></td>
    <td th:text="${menu.price}"></td>
    <td th:text="${menu.productType}"></td>
  </tr>
  </tbody>
</table>
<a sec:authorize="isAuthenticated()" th:href="@{/menu/new}">새 메뉴</a>
<a sec:authorize="isAuthenticated()" th:href="@{/admin}">관리메인으로</a>
</body>
</html>